/*=========================
          RESET
=========================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    direction:rtl;
    font-family:"Vazirmatn",sans-serif;
    background:#071a2d;
    color:#ffffff;
    overflow-x:hidden;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

button{
    border:none;
    outline:none;
    background:none;
    font-family:inherit;
    cursor:pointer;
}

input{
    border:none;
    outline:none;
    font-family:inherit;
}







/*=========================
        VARIABLES
=========================*/

:root{

    --primary:#0b2340;

    --secondary:#102d4d;

    --gold:#d4af37;

    --gold-light:#f3d87b;

    --white:#ffffff;

    --text:#e7edf5;

    --border:rgba(255,255,255,.08);

    --glass:rgba(255,255,255,.06);

    --shadow:0 15px 40px rgba(0,0,0,.30);

    --radius:18px;

    --transition:.35s ease;

}







/*=========================
       GLOBAL STYLES
=========================*/

.container{

    width:100%;

    max-width:1200px;

    margin:auto;

    padding:0 20px;

}

section{

    width:100%;

}

