*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Arial,Helvetica,sans-serif;
background:#07182E;
color:#fff;
line-height:1.7;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

img{
max-width:100%;
display:block;
}

.container{
width:90%;
max-width:1300px;
margin:auto;
}

/* ================= HEADER ================= */

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:22px 0;
z-index:999;
background:rgba(7,24,46,.72);
backdrop-filter:blur(16px);
transition:.4s;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:22px 7%;
position:fixed;
top:0;
left:0;
width:100%;
z-index:999;
background:rgba(7,24,46,.72);
backdrop-filter:blur(16px);
}

nav{
display:flex;
gap:35px;
align-items:center;
}

.logo{
font-size:34px;
font-weight:800;
letter-spacing:1px;
}

.logo span{
color:#D4AF37;
}

nav{
display:flex;
gap:35px;
}

nav a{
font-size:15px;
font-weight:600;
transition:.35s;
}

nav a:hover{
color:#D4AF37;
}

/* ================= HERO ================= */

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:0 20px;
background:
linear-gradient(rgba(5,18,35,.72),rgba(5,18,35,.82)),
url("https://images.unsplash.com/photo-1578575437130-527eed3abbec?auto=format&fit=crop&w=1800&q=80");
background-size:cover;
background-position:center;
}

.hero-content{
max-width:900px;
}

.hero h3{
color:#D4AF37;
letter-spacing:4px;
margin-bottom:20px;
font-size:18px;
}

.hero h1{
font-size:72px;
font-weight:800;
margin-bottom:25px;
}

.hero p{
font-size:22px;
opacity:.92;
margin-bottom:40px;
}

.btn{
display:inline-block;
padding:16px 38px;
border-radius:40px;
font-weight:bold;
transition:.35s;
margin:8px;
}

.gold{
background:#D4AF37;
color:#07182E;
}

.gold:hover{
transform:translateY(-4px);
}

.outline{
border:2px solid #fff;
}

.outline:hover{
background:#fff;
color:#07182E;
}
.buttons{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
  }
